ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.categories {
	display: flex;
	justify-content: center;
}

.categories li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
}